<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.nikush.tasktacular"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name=".TasktacularActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"><!-- enable split action bar -->
            <intent-filter>
                <!-- indicate that this activity serves as the entry point for the application -->
                <action android:name="android.intent.action.MAIN" />
                
                <!-- indicate that the application can be launched from the device’s launcher icon -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".AddTaskActivity"
            android:label="@string/add_task"></activity>
    </application>

</manifest>